<h1>Search Results</h1>


{{#each experts}}
  <div class="container w-75" >
      <button type="button" class="btn btn-primary btn-lg btn-block text-left resultsBtn" data-toggle="modal" data-target="#exampleModalCenter{{this.Id}}">
        <div class="container">

          <h2>
            {{this.Name}}
          </h2>

          <div class="row" style="">
            <div class="col-4 align-self-start text-left">
              <div style="white-space: pre-wrap;"><b>Tech Skills:</b> {{this.TechSkills}}</div>
              <div style="white-space: pre-wrap;"><b>Industry:</b> {{this.Industry}}</div>
            </div>

            <div class="col align-self-start text-left"> 
              <div style="white-space: pre-wrap;"><b>Coursework:</b> {{this.Coursework}}</div>
            </div>
          </div>

        </div>
      </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter{{this.Id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div>
            <div class="text-center">
              <img src="{{this.ProfilePicture}}" class="img-thumbnail img-fluid " alt="...">
            </div>
            <div class="text-center">
              <h3 class="modal-title" id="exampleModalLongTitle">{{this.Name}}</h3>
            </div>
          </div>
          <table id="expert-{{this.Id}}" class="tagify-fields">
            <tbody>
                <tr>
                  <th scope="row">Tech Skills:</th>
                    <td> <input name="TechSkills" type="text" value="{{this.Readonly.TechSkills}}">   <button type="button" class="btn btn-primary suggest-edits-button">Edit</button> </td>
                </tr>
                <tr>
                  <th scope="row">Coursework:</th>
                    <td> <input name="Coursework" type="text" value="{{this.Readonly.Coursework}}">   <button type="button" class="btn btn-primary suggest-edits-button">Edit</button> </td>
                </tr>
                <tr>
                  <th scope="row">Industry:</th>
                    <td> <input name="Industry" type="text" value="{{this.Readonly.Industry}}">  <button type="button" class="btn btn-primary suggest-edits-button">Edit</button> </td>
                </tr>

                {{!-- check if contact info is the email. If yes, use appropriate html code block --}}
                {{!-- https://stackoverflow.com/questions/34252817/handlebarsjs-check-if-a-string-is-equal-to-a-value --}}
                {{#each this.ContactInfo}}
                  {{#ifEquals  @key "Email"}}
                    <tr>
                      <th scope="row">{{@key}}:</th>
                      <td>
                          <a href = "mailto: {{this}}">{{this}}</a>
                      </td>
                    </tr>
                  {{else}}
                    <tr class="collapse collapseme{{../Id}}">
                      <th scope="row">{{@key}}:</th>
                      <td>
                          <a href="https://www.{{this}}" target="_blank">{{this}}</a>
                      </td>
                    </tr>
                  {{/ifEquals}}
                {{/each}}

                <tr>
                  <td>
                    <button id="" class="btn btn-link showMoreLessBtn" data-toggle="collapse" data-target=".collapseme{{Id}}" data-text-alt="-Show Less">
                      +Show More
                    </button>
                  </td>
                </tr>

            </tbody>  
          </table>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary" data-dismiss="modal">OK, got it!</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{{/each}} 
